/* Color Theme Swatches in Hex 
.foggy-morning-1-hex { color: #D8F2ED; }
.foggy-morning-2-hex { color: #5F736C; }
.foggy-morning-3-hex { color: #062617; }
.foggy-morning-4-hex { color: #425352; }
.foggy-morning-5-hex { color: #677356; }*/

/* Color Theme Swatches in RGBA 
.foggy-morning-1-rgba { color: rgba(215, 242, 237, 1); }
.foggy-morning-2-rgba { color: rgba(95, 114, 107, 1); }
.foggy-morning-3-rgba { color: rgba(6, 38, 23, 1); }
.foggy-morning-4-rgba { color: rgba(65, 82, 82, 1); }
.foggy-morning-5-rgba { color: rgba(103, 114, 86, 1); }*/

/*Color Theme Swatches in HSLA 
.foggy-morning-1-hsla { color: hsla(169, 51, 89, 1); }
.foggy-morning-2-hsla { color: hsla(158, 9, 41, 1); }
.foggy-morning-3-hsla { color: hsla(151, 72, 8, 1); }
.foggy-morning-4-hsla { color: hsla(179, 11, 29, 1); }
.foggy-morning-5-hsla { color: hsla(84, 14, 39, 1); }*/


html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    margin:0;
    padding:0;
    color:#fff;

}
#wrap{
  width:75vw;
  max-width:950px;
  border:5px solid;
  border-color:#062617;
  margin:40px auto;
  background-color:#677356;
}
p{
  font-family:'Bitter',serif;
  font-weight:300;

}

h1, h2, h3, h4, h5, h6 {
  font-family:Bitter, serif ;
  font-weight: 700;
  text-align:center;
}

h1{
  text-align:center;
  padding:1em;
  margin:0;
  width:100%;
  height:120px;
  background-color:#062617;
  color:#ffffff;
}

.container {
background-color:#425352;
border:2px black;
margin: 1em;
}

.circle{
  background-image: url("3.jpg");
  width:300px;
  height:300px;
  margin:auto;
  border-radius:100%;
}
nav ul {
  display: flex;
 flex-wrap: wrap;
 flex-direction: row;
  list-style-type: none;
  gap:1em;
  justify-content: center;

}
li{
  background-color:#062617;
  align-content:space-between;
  list-style-type:none;
  text-decoration:none;
  padding:.5em;
  min-width: 150px;
  min-height: 150px;
}
a:link {
  color: #fff
}


a:visited {
  color: lightblue;
}

a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;