/* Color Theme Swatches in Hex 
.foggy-morning-1-hex { color: #D8F2ED; }
.foggy-morning-2-hex { color: #5F736C; }
.foggy-morning-3-hex { color: #062617; }
.foggy-morning-4-hex { color: #425352; }
.foggy-morning-5-hex { color: #677356; }*/

/* Color Theme Swatches in RGBA 
.foggy-morning-1-rgba { color: rgba(215, 242, 237, 1); }
.foggy-morning-2-rgba { color: rgba(95, 114, 107, 1); }
.foggy-morning-3-rgba { color: rgba(6, 38, 23, 1); }
.foggy-morning-4-rgba { color: rgba(65, 82, 82, 1); }
.foggy-morning-5-rgba { color: rgba(103, 114, 86, 1); }*/

/*Color Theme Swatches in HSLA 
.foggy-morning-1-hsla { color: hsla(169, 51, 89, 1); }
.foggy-morning-2-hsla { color: hsla(158, 9, 41, 1); }
.foggy-morning-3-hsla { color: hsla(151, 72, 8, 1); }
.foggy-morning-4-hsla { color: hsla(179, 11, 29, 1); }
.foggy-morning-5-hsla { color: hsla(84, 14, 39, 1); }*/


html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    background-color:#5F736C;
}