
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* ------ Typography -------*/
  body {
    font-family: "Open Sans", sans-serif;
  }
  
  /*------- Fluid Images ------*/
  img{
    max-width:100%;
    height:auto;
  }
  
  
    
  /* ------ Helper Classes -------*/
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
  }

  .wrap{

  }

  footer{
    background-color: slategray;
    text-align: center;
  }