
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* ------ Typography -------*/
  body {
    font-family: "Open Sans", sans-serif;
  }
  
  /*------- Fluid Images ------*/
  img{
    max-width:100%;
    height:auto;
  }
  
  
    
  /* ------ Helper Classes -------*/
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
  }

  /*--------Content Container------------*/

  .container{
    max-width: 80vw;
    background-color:rgb(163, 163, 163);
    margin:auto;
    padding:2%;
  }
.gallery{
  width: 750px;
  height: auto;
  border: 10px white;
  border-style: solid;
  margin:auto;
  overflow:hidden;
  background-color: rgb(255, 255, 255);

}

.gallery img{
object-fit:fill;
}